{% extends 'base.html' %}
{% block title %} My Bookings {% endblock title %}
{% block head %}
<style>
.table{
    padding: 2px;
    font-size: 18px;
}
</style>
{% endblock head %}
{% block body %}


<h1 style='text-align: center;padding: 10px;'>MY BOOKINGS</h1>

<div class='container table-responsive'>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Hostel Name</th>
            <th scope="col">Owner Name</th>
            <th scope="col">Check In</th>
            <th scope="col">Period Of Stay</th>
            <th scope="col">Price</th>
            <th scope="col">Booking Date</th>
        </tr>
        </thead>
        <tbody>
            
            {% for l in log%}
            <tr>
                
                <th scope="row">-></th>
                <td>{{l.hstl_name}}</td>
                <td>{{l.owner_uname}}</td>
                <td>{{l.check_in}}</td>
                <td>{{l.pos}}</td>
                <td>{{l.price}}</td>
                <td>{{l.date}}</td>
                
            </tr>
            {% endfor %}
        
        </tbody>
    </table>
</div>



{% endblock body %}